/Century.API/bin/Debug/
/.vs/
/Century.API/obj/
/Century.API/obj/
/Century.Tests/bin/
obj
bin
/.vs/Century/v15/.suo
/.vs/Century/v15/Server/sqlite3/storage.ide
/Century.API/obj/Debug/netcoreapp2.0/Century.Api.csproj.CoreCompileInputs.cache
/Century.Tests/obj/Debug/netcoreapp2.0/Century.Tests.csproj.CoreCompileInputs.cache
/Century.WebApp/obj/Debug/netcoreapp2.0/Century.WebApp.csproj.CoreCompileInputs.cache
/docker-compose.ci.build.yml
/docker-compose.override.yml
/docker-compose.yml
/Tools/obj/project.assets.json
/Tools/obj/Tools.csproj.nuget.cache
/Tools/obj/Tools.csproj.nuget.g.props
/Tools/obj/Tools.csproj.nuget.g.targets
