registry=https://sevenwestmedia.pkgs.visualstudio.com/_packaging/dotnet@Release/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 21/05/18.
; begin auth token
//sevenwestmedia.pkgs.visualstudio.com/_packaging/dotnet@Release/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwZDhhNjU4MC04MWZiLTQ4NjUtOWM4NS02YjI3ZGIxZmEwMDYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWQ5ZjA1NWEtMWRlZi00OThjLWExNDAtODJkNTllZDMwYmY0Iiwic2lkIjoiYzkzMjQxMWEtODJkMS00OGQ2LWI1YjctNGE3ZmU1YzZkMDE0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286YTc0MWJlM2EtNmExMy00ZTQ1LWEwZWMtNjcyMGE5NGZhNmZhIiwibmJmIjoxNTE5MDg4MDQwLCJleHAiOjE1MjY4NjQwMzl9.Qh-pT5_I48u8t23w7HK8nwEmupaPc_bX4rlhZFH0CaOF-rp1RfzBMy1vPvRhtTJsIiEDc-7ru3sI_IvaQ9Aa2gGcRkKuz2t4cfYgGfy4naZKrJYg2i0cnL4KM-NX2HT0IGUZFiuACLDfz49Lv6GguCkXuKyd5RcjgOv4F57tfnvd7nbGWUi-7K9dQBiuD8xOpUGUUNh5zjCWymeVBpYFepXkscjQuMRhi61gOBjWKupW5S3BvqOMLiOo-jO_LtEAgdfMqUfdUS7HQ8KvYqVLc3ukZISGg-FnnrB0BvPFU9CW9p1YOEKIIMlH_bK9VkfwEKixqURP8k4UPaYdUA71_Q
//sevenwestmedia.pkgs.visualstudio.com/_packaging/dotnet@Release/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwZDhhNjU4MC04MWZiLTQ4NjUtOWM4NS02YjI3ZGIxZmEwMDYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYWQ5ZjA1NWEtMWRlZi00OThjLWExNDAtODJkNTllZDMwYmY0Iiwic2lkIjoiYzkzMjQxMWEtODJkMS00OGQ2LWI1YjctNGE3ZmU1YzZkMDE0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286YTc0MWJlM2EtNmExMy00ZTQ1LWEwZWMtNjcyMGE5NGZhNmZhIiwibmJmIjoxNTE5MDg4MDQwLCJleHAiOjE1MjY4NjQwMzl9.Qh-pT5_I48u8t23w7HK8nwEmupaPc_bX4rlhZFH0CaOF-rp1RfzBMy1vPvRhtTJsIiEDc-7ru3sI_IvaQ9Aa2gGcRkKuz2t4cfYgGfy4naZKrJYg2i0cnL4KM-NX2HT0IGUZFiuACLDfz49Lv6GguCkXuKyd5RcjgOv4F57tfnvd7nbGWUi-7K9dQBiuD8xOpUGUUNh5zjCWymeVBpYFepXkscjQuMRhi61gOBjWKupW5S3BvqOMLiOo-jO_LtEAgdfMqUfdUS7HQ8KvYqVLc3ukZISGg-FnnrB0BvPFU9CW9p1YOEKIIMlH_bK9VkfwEKixqURP8k4UPaYdUA71_Q
; end auth token